@import "../../../custom-variable";
.navbar {
  height: 77px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: niramit-regular;
  font-size: 18px;
  background: #00000040;
  z-index: 10;
  width: 100%;
  position: absolute;
  .navbar-nav {
    .nav-link {
      color: white;
      padding: 0 !important;
      margin: 0 10px;
      font-size: 17px;
      border-bottom: 0 solid transparent;
      transition: border-bottom 0.3s linear, color 0.3s linear,
        margin-top 0.3s linear;
      &.active {
        color: $cgreen;
        border-bottom: 3px solid $cgreen;
        margin-top: -3px;
        transition: none;
      }
      &:hover {
        color: $cgreen;
        border-bottom: 3px solid $cgreen;
        margin-top: -3px;
        transition: border-bottom 0.3s linear, color 0.3s linear,
          margin-top 0.3s linear;
      }
    }
  }
  .notiCart {
    width: 37px;
    height: 37px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    display: flex;
    margin: auto 35px auto 0;
    position: relative;
    img {
      margin: auto;
      // padding: 2px;
    }
    .notiCount {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 15px;
      height: 15px;
      font-size: 12px;
      border-radius: 50%;
      display: flex;
      span {
        margin: auto;
        line-height: 16px;
      }
    }
  }
  .loginBtn {
    color: #fff;
    border-color: #fff;
    padding: 12px 30px;
    img {
      margin-right: 7px;
      margin-top: -4px;
    }
  }
  &.otherPage {
    position: relative;
    background-color: $cblue;
  }
}
.profile-card {
  display: flex;
  justify-items: center;

  padding-top: 13px;
  .profile-details {
    position: relative;
    top: -2px;
  }
  img {
    height: 38px;
    margin-right: 5px;
  }
  .profile-details {
    strong {
      font-size: 17px;
      font-weight: 600;
      display: block;
    }
    span {
      font-size: 14px;
      position: relative;
      top: -10px;
    }
  }
}
