<app-home-carousel></app-home-carousel>
<div class="row">
  <div class="col-4 countValue">
    <h3><span class="count">123+</span></h3>
    <p>Professionals Radiologists, Pathologists & Microbiologists</p>
  </div>
  <div class="col-4 countValue">
    <h3><span class="count">00</span> million+</h3>
    <p>Customers and Counting Trusted by Every Age Group</p>
  </div>
  <div class="col-4 countValue">
    <h3><span class="count">00+</span></h3>
    <p>Years of Experience in Delivering Quality Diagnostic Services</p>
  </div>
</div>
