@import "../../../custom-variable";

.countValue {
  font-family: naniramit-regular;
  padding: 30px 130px;
  h3 {
    color: $cgreen;
    font-size: 40px;
    .count {
      letter-spacing: 4px;
    }
  }
  p {
    font-size: 16px;
    color: $cblack;
    padding-right: 65px;
  }
}
.popularTestContainer {
  padding: 0 130px;
  .bestSerHead {
    font-size: 19px;
    font-weight: 500;
  }
  .bestSerHead2 {
    font-size: 48px;
    font-weight: 600;
  }
  .popTestDes {
    margin-left: auto;
    margin-right: auto;
    color: $cgrey;
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .testCardContainer {
    .card {
      overflow: hidden;
      position: relative;
      .card-body {
        padding: 30px 75px 30px 50px;
        .testName {
          h5 {
            margin: auto 63px auto 20px;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.20000000298023224px;
          }
          border-bottom: 1px solid lightgrey;
          padding-bottom: 10px;
          img {
            width: 50px;
            height: 50px;
            transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
            transform-origin: bottom right;
          }
        }
        .originalPrice {
          position: relative;
          color: $cgrey;
        }
        .originalPrice::after {
          content: "";
          width: 106%;
          height: 1px;
          background: $cgrey;
          position: absolute;
          bottom: 14px;
          left: 0;
        }
        .offerPrice {
          color: $cdarkgrey;
          font-size: 17px;
          margin-left: 15px;
          font-weight: 700;
        }
      }
      .dicountTag {
        position: absolute;
        top: 0px;
        right: 0px;
        background: linear-gradient(90deg, #24b7d3 0%, #30efad 100%);
        width: 66px;
        height: 61px;
        text-align: center;
        color: white;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 56px;
        padding: 6px 3px 10px 10px;
        font-size: 14px;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
.testCardContainer .card:hover {
  .dicountTag {
    transform: scale(1.1);
  }
  .testName img {
    // transform-style: preserve-3D;
    transform: rotate(25deg);
    box-shadow: 6px 44px 13px -20px rgba(1, 1, 1, 1);
  }
}

.viewAllBtn {
  width: 200px;
  padding: 18px 29px 18px 29px;
  gap: 10px;
  border-radius: 35px;
  color: white;
  margin-top: 50px;
}
.ourHelthCheckupsContainer {
  position: relative;
  height: 950px;
  overflow: hidden;
  margin-top: 60px;
  .backOurHelthBlue {
    height: 80%;
    background: linear-gradient(279.38deg, #3a679b 1.04%, #3f3f95 100%);
    .shodowDiv {
      border-radius: 50%;
      filter: blur(165px);
      background: #2cd8c34a;
      width: 550px;
      position: absolute;
      height: 550px;
      top: -166px;
      right: -166px;
    }
    .hexaGonalContainer {
      position: absolute;
      right: 46%;
      top: 0;
      animation: bar 8s infinite;
      img {
        width: 120px;
      }
    }
  }
  .backOurHelthwhite {
    height: 20%;
    background: #fff;
  }
  .heltCheckupData {
    position: absolute;
    top: 0;
    width: 100%;
    .ourHealthHead {
      color: white;
      font-family: Niramit-regular;
      text-align: center;
      margin-top: 88px;
      & > p {
        font-size: 19px;
        font-weight: 500;
      }
      & > h3 {
        font-size: 48px;
        font-weight: 600;
        line-height: 57.6px;
        letter-spacing: 3px;
      }
      .smallDes {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 33%;
        margin: auto;
      }
    }
  }
}
@keyframes bar {
  0% {
    top: 0%;
  }
  50% {
    top: 4%;
  }
  100% {
    top: 0%;
  }
}

.heltCheckupPills {
  display: flex;
  margin-top: 40px;
  .nav-pills {
    margin: auto;
    padding: 8px;
    border: 1px solid white;
    border-radius: 32px;
    .nav-item a {
      border-radius: 30px;
      color: white;
      padding: 10px 40px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      // font-family: "niramit-semi-bold";
      &.active {
        background: white;
        color: $cblue;
      }
    }
  }
}
.upper-image {
  display: block;
  width: 100%;
  height: 250px;
  background-image: url("../../../../public/assets/img/lower.png");
  transform: rotate(180deg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.lower-image {
  width: 20px;
  display: block;
  width: 100%;
  height: 250px;
  background-image: url("../../../../public/assets/img/lower.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.middle-image {
  width: 100%;
  height: 778px;
  background-image: url("../../../../public/assets/img/main-body.png");
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(210 221 255 / 22%);
  justify-content: space-between;
  h3 {
    font-family: Niramit-regular;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    letter-spacing: -0.47999998927116394px;
    color: #3f3f95;
    width: 614px;
  }
  p {
    font-family: Niramit-regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    /* text-align: center; */
    width: 650px;
    border-left-width: thick;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent transparent transparent #0ab7b0;
    padding-left: 16px;
    color: #6f7f90;
  }
}
.google-rating {
  width: 22%;
  height: 21%;
  position: relative;
  top: 316px;
}
.versatile-text {
  font-family: Niramit-regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #0ab7b0;
}
.versatile-provider {
  display: flex;
  margin-top: 40px;
  margin-right: 30px;
  .nav-pills {
    margin: auto;
    padding: 8px;
    border: 1px solid white;
    border-radius: 32px;
    .nav-item a {
      border-radius: 30px;
      color: black;
      padding: 10px 40px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      // font-family: "niramit-semi-bold";
      &.active {
        background: #0ab7b0;
        color: white;
      }
    }
  }
}
.healthCheckupCardContainer {
  .back {
    background: linear-gradient(56.91deg, #3f4596 20.32%, #ff452b 98.14%);
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px #6f7f9099;

    .healthCard {
      background: white;
      border-bottom-right-radius: 20px;
    }
    .healthCard:hover {
      svg path {
        fill: $cgreen;
        fill-opacity: 1;
      }
      image {
        filter: brightness(0) invert(1);
      }
    }
  }
}
// @counter-style circle-checkbox {
//   system: cyclic;
//   symbols:
//   suffix: " ";
// }

// .checkbox-list {
//   ul {
//     list-style: circle-checkbox;
//   }
// }
.checkbox-list {
  ul {
    list-style-type: none;
    margin-right: 51px;
    margin-top: 10px;
  }
}

.checkbox-list li {
  position: relative;
  padding-left: 30px;
}

.checkbox-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../../../../public/assets/img/Vector.png"); /* Path to the image */
  background-size: cover;
}
