<div class="requestHeader">
  <div class="logoImg">
    <img src="assets/img/vijaya-logo.png" alt="" />
  </div>
  <div class="dropSearchContainer m-auto">
    <div class="input-group input-group-lg rounded-pill">
      <select
        class="form-select form-select-lg headSearchdrop"
        aria-label=".form-select-lg example"
      >
        <option selected>Hyderabad</option>
        <option value="1">Delhi</option>
        <option value="2">Kolkata</option>
        <option value="3">Bangalore</option>
      </select>
      <span class="input-group-text searchIcon"
        ><i class="bi bi-search"></i
      ></span>
      <input
        type="text"
        class="form-control headSearchInp"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        placeholder="Search for test and health checkup"
      />
    </div>
  </div>
  <div class="requestContact">
    <div class="contact">
      <div class="iconBack">
        <img class="iconCall" src="assets/icons/call.png" alt="" />
      </div>
      <span class="contactText">989 898 9898</span>
    </div>
    <div class="contact ms-4">
      <div class="iconBack">
        <img class="iconMail" src="assets/icons/mail.png" alt="" />
      </div>
      <span class="contactText">Request a call back</span>
    </div>
  </div>
</div>
