@import "../../../custom-variable";

.patientDetailContainer {
  .colLabel {
    margin-bottom: 5px;
  }
}
.register-form {
  .form-group {
    margin-bottom: 5px;
    label {
      margin-bottom: 3px;
    }
  }
}
.existingPatientList {
  //   display: flex;
  //   flex-wrap: wrap;
  //   .singlePatient {
  //     margin: 2px;
  label.radio {
    cursor: pointer;
    padding: 5px;
    position: relative;
  }
  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  label.radio span {
    padding: 7px 14px;
    border: 2px solid #eee;
    display: inline-block;
    color: $cgreen;
    border-radius: 3px;
    width: 100%;
  }
  label.radio input:checked + span {
    border-color: $cgreen;
  }
  .patientCheckIcon {
    position: absolute;
    right: 11px;
    top: 27%;
  }
  //   }
}
.addressSelected {
  box-shadow: 0px 9px 17px 5px lightgrey;
  padding: 15px;
  font-size: 12px;
}
.slotContainer {
  .slotInfo {
    font-size: 10px;
  }
  .slotDate {
    height: 100%;
    text-align: center;
    margin-right: 20px;
  }
  .slotTime {
    margin-left: 20px;
  }
}
.patientDetails1 {
  .form-control:focus {
    border-color: rgb(10, 183, 176);
    box-shadow: none;
  }

  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: rgb(10, 183, 176);
  }
  .form-control {
    height: 45px;
  }
}
.homeCollection--heading {
  font-weight: 600;
}
.patientDetail,
.patientDetail2 {
  h4 {
    font-weight: 600;
  }
  label {
    color: rgb(10, 183, 176);
    font-weight: 600;
    font-size: 15px;
  }
  .form-control:focus {
    border-color: rgb(10, 183, 176);
    box-shadow: none;
  }
  input.form-control {
    height: 45px;
  }
  textarea.form-control {
    min-height: 100px;
  }
  .form-check-input:checked {
    background-color: rgb(10, 183, 176);
    border-color: rgb(10, 183, 176);
  }
  .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(10, 183, 176, 0.25);
  }
  .bookingDetails--addressLabel {
    color: rgb(33, 37, 41);
    position: relative;
    top: -2px;
  }
  .patientDetail--patientInfo {
    padding-right: 30px;
    position: relative;
  }
  .patientDetail--patientInfo:after {
    position: absolute;
    right: -15px;
    top: 30px;
    height: calc(100% - 70px);
    width: 2px;
    border-radius: 10px;
    background: rgb(10, 183, 176);
    content: "";
  }
  .patientDetail--bookingDetails {
    padding-left: 30px;
  }
  .card {
    box-shadow: 0 0 0 0.25rem rgba(10, 183, 176, 0.25);
  }
  .card-text {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
  }
}
::ng-deep {
  .patientDetail .ng-select.ng-select-single .ng-select-container {
    height: 45px;
  }
}
