@import "../../../custom-variable";

.patientDetailContainer {
  .colLabel {
    margin-bottom: 5px;
    font-size: 14px;
  }
}
.smallFont {
  font-size: 14px;
  .totalPayable {
    font-size: 16px;
  }
}
