@import "../../../custom-variable";

.patientDetailContainer {
  .colLabel {
    margin-bottom: 5px;
    font-size: 14px;
  }
}
.smallFont {
  font-size: 14px;
  .totalPayable {
    font-size: 16px;
  }
}
.profile-card {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px #2ad2c13b;
  h5 {
    padding-left: 31px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .card-img-top {
    border-radius: 30px;
    width: 53px;
    height: 50px;
  }
  ul {
    list-style-type: none;
    .iconBack {
      width: 25px;
      height: 25px;
      padding: 5px;
      border-radius: 50%;
      background-color: $cgreen;
      margin-right: 10px;
      display: flex;
      img {
        margin: auto;
        width: 15px;
        height: 15px;
      }
      img.iconMail {
        width: 13px;
      }
      .iconCall {
        animation: tilt-shaking 3s ease infinite;
      }
    }
  }
  .overview {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    .sub-div {
      font-size: 13px;
      color: grey;
      font-weight: 600;
    }
    .sub-detail {
      font-size: 17px;
      font-weight: 600;
    }
  }
}
.user-name {
  font-size: 17px;
  font-weight: 600;
  margin-left: 16px;
  margin-top: 8px;
}
.container-box {
  box-shadow: 0px 0px 1px 0px;
  border-radius: 12px;
  border: 1px solid white;
}
