/* You can add global styles to this file, and also import other style files */
// Your variable overrides

@import "./custom-variable.scss";

$custom-colors: (
  cblue: $cblue,
  cbluetext: $cbluetext,
  cdarkblue: $cdarkblue,

  cgreen: $cgreen,
  cgreenborder: $cgreenborder,
  clightgreen: $clightgreen,

  cgrey: $cgrey,
  cdarkgrey: $cdarkgrey,
);

// Merge the maps
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
$theme-colors: map-merge($theme-colors, $custom-colors);
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
// $theme-colors: (
//   "cblue": #3f3f95,
//   "cgreen": #0ab7b0,
// );
