@font-face {
  font-family: niramit-regular;
  src: url("/assets/fonts/Niramit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: niramit-semi-bold;
  src: url("/assets/fonts/Niramit-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: niramit-bold;
  src: url("/assets/fonts/Niramit-Bold.ttf") format("truetype");
}
@font-face {
  font-family: niramit-semi-bold-italic;
  src: url("/assets/fonts/Niramit-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: niramit-italic;
  src: url("/assets/fonts/Niramit-Italic") format("truetype");
}
@font-face {
  font-family: niramit-bold-italic;
  src: url("/assets/fonts/Niramit-BoldItalic") format("truetype");
}
@font-face {
  font-family: niramit-extra-light;
  src: url("/assets/fonts/Niramit-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: niramit-light;
  src: url("/assets/fonts/Niramit-Light.ttf") format("truetype");
}
@font-face {
  font-family: niramit-light-italic;
  src: url("/assets/fonts/Niramit-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: niramit-extra-light-italic;
  src: url("/assets/fonts/Niramit-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: niramit-medium;
  src: url("/assets/fonts/Niramit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: niramit-medium-italic;
  src: url("/assets/fonts/Niramit-MediumItalic.ttf") format("truetype");
}
