$cblue: #3f3f95;
$cbluetext: #3e4997;
$cdarkblue: #1d2864;

$cgreen: #0ab7b0;
$cgreenborder: #2ad2c1;
$clightgreen: #e1f6f9;

$cgrey: #6f7f90;
$cdarkgrey: #494949;
$placeHolder: #c0c0c0;
$cblack: #2b2b2b;
