.labTests {
  text-align: center;
  padding: 30px;
  h3 {
    font-size: 19px;
    font-weight: 500;
    color: #0ab7b0;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: 600;
    color: #3f3f95;
    font-size: 48px;
    margin-bottom: 20px;
  }
  .labTests--label {
    font-size: 16px;
    color: #6f7f90;
    width: 50%;
    margin: 0 auto;
  }
  .labTests--diseaseImg {
    height: 100px;
  }
  .labTests--hexagon {
    width: 100px;
    height: 100px; /* Adjust height for a perfect hexagon */
    background-color: black;
    clip-path: polygon(
      25% 6.7%,
      75% 6.7%,
      100% 50%,
      75% 93.3%,
      25% 93.3%,
      0% 50%
    );
    border: 2px solid red;
    box-sizing: border-box;
    transform: rotate(90deg);
    transition: all 0.4s;
  }
}
